mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}


a {
  text-decoration: none;
  color: white;
}


a:hover {
  color: var(--primary);
  animation: changeColor 0.25s forwards linear;
}


.logo {
  padding: 15px;
  width: 100px;
}


@keyframes changeColor {
  0% {
    color: white;
  }
  100% {
    color: var(--primary);
  }

}
