<div class="d-flex justify-content-center align-items-center h-100 overflow-hidden">
  <div class="d-flex justify-content-center align-items-center">
    <div class="card w-100 bg-light border-1 shadow-lg">
      <div class="ps-2">

        <title>
          Login

        </title>
      </div>

      <div class="card-body mt-0">
        <div class="row">

          <div class="col-auto">
            <form action="" [formGroup]="form">
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="email"
                  [ngClass]="{'border-danger invalid': form.controls['email'].invalid && form.controls['email'].touched}"
                  id="email" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="password"
                  [ngClass]="{'border-danger invalid': form.controls['password'].invalid && form.controls['password'].touched}"
                  id="password">
              </div>
            </form>
            <div class="gap-2 d-flex justify-content-center w-100">
                <mat-card-actions align="end" s class="text-black">
                  <button mat-raised-button s [color]="'primary'" style="    width: 300px !important" [disabled]="!form.valid" (click)="login()" >Login</button>
                </mat-card-actions>
            </div>
            <div class="text-center">
              <a [routerLink]="['/signup']">Create Account</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
